<body>
  <div>
    <h1> Elysia Range Simulator </h1>
    <form [formGroup]="rangeForm" name="simulator" #simulator="ngForm" novalidate>
      <label>Speed (km/h):</label>
      <br>
      <input class = "form-control" formControlName = "speedInput" name="speed" type="number" placeholder="Speed" (keyup)="onKeySpeed($event)">
      <br>
      <div *ngIf="speedInput.invalid && (speedInput.touched || speedError)">
        <label *ngIf="speedInput.errors.required" [ngClass]="'error'">Speed is required</label>
        <label *ngIf="speedInput.errors.min" [ngClass]="'error'">The speed should be with the range of 0 to 90</label>
        <label *ngIf="speedInput.errors.max" [ngClass]="'error'">The speed should be with the range of 0 to 90</label>
      </div>
      <br>
      <label>Battery Percentage (%):</label>
      <br>
      <input class = "form-control" formControlName = "batteryInput" name="battery"type="number" placeholder="Battery" (keyup)="onKeyBattery($event)">
      <br>
      <div *ngIf="batteryInput.invalid && (batteryInput.touched || batteryError)">
        <label *ngIf="batteryInput.errors.required" [ngClass]="'error'">Battery percentage is required</label>
        <label *ngIf="batteryInput.errors.min" [ngClass]="'error'">The battery percentage should be with the range of 0 to 100</label>
        <label *ngIf="batteryInput.errors.max" [ngClass]="'error'">The battery percentage should be with the range of 0 to 100</label>
      </div>
      <br>
      <br>
      <img src="/assets/Cloud.png">
      <input type="range" min="0" max="100" value="50" (mouseup)="onMouseWeather($event)">
      <img src="/assets/Sun.png">
      <br>
      <button (click)="calculateRange()">Calculate</button>
      <br>
      <h2>{{ displayText }}</h2>
    </form>
  </div>
</body>
