[  

	{rabbit, [{loopback_users, []}]},

  	{rabbitmq_shovel,
    [ {shovels, [ {hermesShovel,
                    [ {sources,
                        [ {brokers, [ "amqp://127.0.0.1:5672"]}
                        , {declarations, [ {'exchange.declare',
                                              [ {exchange, <<"hermesExchange">>}
                                              , {type, <<"fanout">>}
                                              ]}
                                         , {'queue.declare',
                                              [{arguments}]}
                                         , {'queue.bind',
                                              [ {exchange, <<"hermesExchange">>}
                                              , {queue,    <<>>}
                                              ]}
                                         ]}
                        ]}
                    , {destinations,
                        [ {broker, "amqp://138.197.206.227:5672"}
                        , {declarations, [ {'exchange.declare',
                                              [ {exchange, <<"hermesExchange">>}
                                              , {type, <<"fanout">>}
                                              ]}
                                         ]}
                        ]}
                    , {queue, <<>>}
                    , {reconnect_delay, 5}
                    ]}
                ]}
    ]}
].