<ng-template #elseBlock><img class="circle-items" src="../../../assets/sad_bill.png" alt="Red Circle" ></ng-template>
<div class="header"></div>
<div class="mppt-container-grid">
  <div>
    <div class="subheader">Unit 0</div>
    <div class="mppt-container-grid">
      <div>
        <div class="subheader">
          Channel 0
          <br/>
          <span class="item">Heartbeat</span>
					<span *ngIf="mppt0.alive; else elseBlock" class="ifs"><img class="circle-items" src="../../../assets/happy_bill.png" alt="Green Circle" ></span> 
          </div>
        <div class="item">
          Array Voltage
          <div class="data">{{mppt0.arrayVoltage}} V</div>
          </div>
        <div class="item">
          Array Current
          <div class="data">{{mppt0.arrayCurrent}} A</div>
          </div>
        <div class="item">
          Battery Voltage
          <div class="data">{{mppt0.batteryVoltage}} V</div>
          </div>
        <div class="item">
          Temperature
          <div class="data">{{mppt0.temperature}} ºC</div>
          </div>
        </div>
      <div>
        <div class="subheader">
          Channel 1
          <br/>
          <span class="item">Heartbeat</span>
					<span *ngIf="mppt1.alive; else elseBlock" class="ifs"><img class="circle-items" src="../../../assets/happy_bill.png" alt="Green Circle" ></span>
          </div>
        <div class="item">
          Array Voltage
          <div class="data">{{mppt1.arrayVoltage}} V</div>
          </div>
        <div class="item">
          Array Current
          <div class="data">{{mppt1.arrayCurrent}} A</div>
          </div>
        <div class="item">
          Battery Voltage
          <div class="data">{{mppt1.batteryVoltage}} V</div>
          </div>
        <div class="item">
          Temperature
          <div class="data">{{mppt1.temperature}} ºC</div>
          </div>
        </div>
      </div>
    </div>
  <div>
    <div class="subheader">Unit 1</div>
        <div class="mppt-container-grid">
      <div>
        <div class="subheader">
        Channel 0
        <br/>
        <span class="item">Heartbeat</span>
				<span *ngIf="mppt2.alive; else elseBlock" class="ifs"><img class="circle-items" src="../../../assets/happy_bill.png" alt="Green Circle" ></span>
        </div>
        <div class="item">
          Array Voltage
          <div class="data">{{mppt2.arrayVoltage}} V</div>
          </div>
        <div class="item">
          Array Current
          <div class="data">{{mppt2.arrayCurrent}} A</div>
          </div>
        <div class="item">
          Battery Voltage
          <div class="data">{{mppt2.batteryVoltage}} V</div>
          </div>
        <div class="item">
          Temperature
          <div class="data">{{mppt2.temperature}} ºC</div>
          </div>
        </div>
      <div>
        <div class="subheader">
          Channel 1
          <br/>
          <span class="item">Heartbeat</span>
					<span *ngIf="mppt3.alive; else elseBlock" class="ifs"><img class="circle-items" src="../../../assets/happy_bill.png" alt="Green Circle" ></span>
          </div>
        <div class="item">
          Array Voltage
          <div class="data">{{mppt3.arrayVoltage}} V</div>
          </div>
        <div class="item">
          Array Current
          <div class="data">{{mppt3.arrayCurrent}} A</div>
          </div>
        <div class="item">
          Battery Voltage
          <div class="data">{{mppt3.batteryVoltage}} V</div>
          </div>
        <div class="item">
          Temperature
          <div class="data">{{mppt3.temperature}} ºC</div>
          </div>
        </div>
      </div>
    </div>
  </div>
