<div class="header">Battery</div>
<div class="battery-container-grid">
		<div>
			<div class ="subheader">BMS Relay Status Flags</div>
			<div class = "grid-container">
				<span class="item">
					<span class="item">Discharge Relay Enabled</span>
				</span>
				<span class="item">
					<span class="item">Is Ready</span>
				</span>
				<span class="item">
					<span class="item">Charge Relay Enabled</span>
				</span>
				<span class="item">
					<span class="item">Is Charging</span>
				</span>
				<span class="item">
					<span class="item">Charger Safety Enabled</span>
				</span>
				<span class="item">
					<span class="item">Malfunction Indicator Active</span>
				</span>
				<span class="item">
					<span class="item">Multipurpose Input Signal Status</span>
				</span>
				<span class="item">
					<span class="item">Always On</span>
				</span>
			</div>
		</div>
		<div>
			<div class ="subheader">Fan</div>
			<div class = "grid-container dataset">
				<div class="item">
					<div class="item">Fan Voltage
						<div class="data">V</div>
					</div>
				</div>
				<div class="item">
					<div class="item">Fan Speed
						<div class="data"></div>
					</div>
				</div>
				<div class="item">
					<div class="item">Requested Fan Speed
						<div class="data"></div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class ="subheader">Temperature</div>
			<div class = "grid-container dataset">
				<div class="item">
					<div class="item">High Temperature
						<div class="data">ºC</div>
					</div>
				</div>
				<div class="item">
					<div class="item">High Thermistor ID
						<div class="data"></div>
					</div>
				</div>
				<div class="item">
					<div class="item">Low Temperature
						<div class="data">ºC</div>
					</div>
				</div>
				<div class="item">
					<div class="item">Low Thermistor ID
						<div class="data"></div>
					</div>
				</div>
				<div class="item">
					<div class="item">Average Temperature
						<div class="data">ºC</div>
					</div>
				</div>
				<div class="item">
					<div class="item">Internal Temperature
						<div class="data">ºC</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class ="subheader">Cell</div>
			<div class = "grid-container">
				<div class="item">
					<div class="item">Low Cell Voltage
						<div class="data">V</div>
					</div>
				</div>
				<div class="item">
					<div class="item">Low Cell Voltage ID
						<div class="data"></div>
					</div>
				</div>
				<div class="item">
					<div class="item">High Cell Voltage
						<div class="data">V</div>
					</div>
				</div>
				<div class="item">
					<div class="item">High Cell Voltage ID
						<div class="data"></div>
					</div>
				</div>
				<div class="item">
					<div class="item">Average Cell Voltage
						<div class="data">V</div>
					</div>
				</div>
				<div class="item">
					<div class="item">Populated Cells
						<div class="data"></div>
					</div>
				</div>
			</div>
		</div>
	</div>